<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="p-2">
    <h1>Attendance Report for {{ name }}</h1>
    <h6>{{formattime from}} - {{formattime to }} </h5>

    {{#if shifts}}
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Shift times</th>
                <th scope="col">Workplace</th>
                <th scope="col">Clock-in/out times</th>
                <th scope="col">Total hours</th>
            </tr>
        </thead>
        <tbody>
            {{#each shifts}}
                <tr>
                    <td>{{formattime shift_start }} - {{formattime shift_end }}</td>
                    <td>{{workplace }}</td>
                    <td>{{formattime clockin_time }} - {{formattime clockout_time }}</td>
                    <td>{{ total_hours }}</td>
                </tr>
            {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ total_sum }}</b></td>
                </tr>
        </tbody>
    </table>
    {{else}}
        <p>No recorded activity for employee within the selected date range</p>
    {{/if}}
    
</body>

</html>

<style>
    td {
        font-size: 0.8em;
    }
</style>